* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;


}

html {
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-left: auto;
    padding: 10px;
    text-align: justify;
    font-weight:bold;

}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
}

header {
    background-color: #EAC926;

}

header div.logo {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header nav {
    font-size: 12px;

}

.header ul {
    list-style-type: none;
    padding: 0%;
    margin-bottom: auto;
}

ul.site {
    margin-bottom: 8px
}

.header ul li a {
    text-decoration: none;
    color: #000
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666
}

section.banner img {
    width: 100%
}

main {
    width: 90%;
    background: center;

}

main article {
    padding: 10px;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.burger-menu {
    color: white;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.burger-menu i {
    background-color: #1259C3;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 10px;
}

main section article img {
    width: 100%;
}

.discount,
main section article i {
    color: #39b54a;
}

img.product_img {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 10px;


}

h2 {
    text-align: center;
    font-size: 12px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 8px;
}

div.box {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #ebebeb;
    background-color: white;
}

h4.description {
    margin-top: 10px;
    font-weight: bold;
}

.discount {
    font-weight: bold;
}

div.box2 {
    padding: 15px;
    box-sizing: border-box;
    width: 90%;
    border-top: 1px solid #ebebeb;
    background-color: white;
}
div.buscar{
    border-top: 0 auto;
    border: 1px solid;
    box-sizing: border-box;
    background-color: white;
    margin-left: 10px;
    width: 50%;
}
div.barrabusqueda2{
    box-sizing: border-box;
    background-color: white;
    width: 5%;
    margin-left: 10px;
    border: 1px solid #000;
}

a {
    color: #000
}

footer {
    text-align: center;
    color: #666;
}

footer section p {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: white;
    padding: 15px;
    margin-left: auto;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}

footer section h4 {
    background-color: white;
    color: #000
}

footer section i {
    text-align: center;
    color: #1259c3;
    background-color: white;

}

footer section i {
    margin-bottom: 10px;
    border: #ebebeb;
    height: 2rem;
    margin-top: 10px;
}
@media(max-width:460px){
    .site{
        display:none
    }

    .login-bar{
        display:none
    }

    .description{
        display:none
    }
}
@media(max-width:780px){
    .site{ display:block
        bock-shadow 0px 0px 10px rgb(100, 100, 100)
    }
    .login-bar{
        display:block
        bock-shadow 0px 0px 10px rgb(100, 100, 100)}
      
    .burger-menu{display:none}
}
